.background {
    background-image: url('images/elevated_mindstate.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    position: relative;
    top: 0;
    bottom: 0;
    z-index: -2;
}

.background-overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

#instagram-feed {
    margin-left: 70%;
}

#instagram-photos {
    margin-bottom: 5%;
    margin-right: 5%;
}

#instagram-header {
    margin-top: 2%;
    margin-left: 66%;
}

.landing-side-panel-dividers {
    width: 25%;
    margin-left: 70%;
}

.singles {
    margin-top: 5%;
}

#header {
    margin-top: 2%;
}

.music-headers { 
    width: 75%;
}

#song-cards {
    padding-left: 10%;
}

#album-image {
    padding-left: 15%;
    margin-bottom: 5%;
}

#track-list {
    padding-top: 5%;
}

#track {
    margin-bottom: 5%;
}

#track-title {
    color: rgb(255, 255, 255);
}

#media-icons {
    margin-right: 30%;
}