#latest-news-text {
    font-family: Verdana, Geneva, sans-serif;
    letter-spacing: 2px;
    word-spacing: 2px;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

/* desktop */
@media only screen and (min-width: 768px) {
    .background {
        background-image: url('../images/zavi_cloud.jpg');
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
        position: relative;
        top: 0;
        bottom: 0;
    }

    /* landing page */
    #landing-banner {
        width: 70% !important;
        height: 50% !important;
        margin-top: 2%;
        margin-left: 15%;
        opacity: 0.9;
    }

    #latest-news-header {
        margin-top: 1%;
        margin-left: 40%;
    }

    #latest-news-photo {
        margin-left: 25%;
    }

    #latest-news-text {
        padding: 20px;
        margin-top: 2%;
        margin-bottom: 8%;
        color: white;
        background-color: black;
        opacity: 0.6;
        font-size: 15px;
    }

    #instagram-header {
        margin-top: 2%;
        margin-left: 40%;
    }

    #instagram-feed {
        width: 75%;
        height: 500px;
        padding-left: 15%;
        padding-right: 8%;
        margin-bottom: 10%;
        margin-left: 11%;
        background-color: white;
        overflow: scroll;
    }

    #instagram-photo {
        margin-bottom: 5%;
        margin-right: 5%;
        padding-right: 5%;
    }

    #heart-icon {
        color: red;
    }

    .instagram-username {
        font-weight: bold;
    }

    .instagram-photo-caption {
        margin-top: 3%;
    }

    #instagram-photos:hover {
        opacity: 0.8;
    }

    .tweets-by-sauvo {
        background-color: #1da1f2;
    }

    .tweets-by-sauvo a {
        color: white;
    }

    #twitter-feed {
        padding-left: 5%;
        padding-right: 5%;
        margin-top: 10%;
        margin-left: 5%;
        height: 500px;
        width: 90%;
        font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
    }
    
    .landing-page-divider {
        width: 80%;
        margin-left: 10%;
    }
    
    .landing-side-panel-divider {
        width: 80%;
        margin-left: 10%;
    }

    /* music component */
    .logo-wrapper {
        margin-top: 2%;
        margin-right: 5%;
        margin-left: 31%;
        background-color: #ffffff;
        opacity: 0.7;
    }
    
    .music-headers { 
        width: 75%;
    }

    .singles-cards {
        margin-top: 5%;
    }
    
    #song-cards {
        padding-left: 10%;
    }
    
    #album-image {
        padding-left: 15%;
        margin-bottom: 5%;
    }

    #album-content {
        width: 30% !important;
        margin-bottom: 5%;
        padding-bottom: 10px;
        background-color: black;
        opacity: 0.6;
    }
    
    #track-list {
        padding-top: 5%;
    }
    
    #track {
        margin-bottom: 5%;
    }
    
    #track-title {
        color: rgb(255, 255, 255);
    }
    
    #media-icons {
        margin-right: 30%;
    }

    /* Footer */
    .footer-icon {
        margin: 2%;
    }
}

/* mobile */
@media only screen and (max-width: 767px) {
    /* body, html { 
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
    } */
    
    .background {
        background-image: url('../images/zavi_cloud.jpg');
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
        position: relative;
        top: 0;
        bottom: 0;
    }
    
    /* navigation bar */
    .mobile-navigation-bar {
        width: 100%;
        height: 75px;
        background-color: black;
    }

    #menu-bars-icon {
        margin-top: 4%;
        margin-left: 7%;
    }

    #navigation-drawer-mobile {
        height: 150px;
        display: block;
        background-color: black;
    }

    #navigation-item-mobile {
        margin-left: 13%;
        font-size: 20px;
        color: white;
    }

    .ui.container {
        margin-left: 0% !important;
        margin-right: 0% !important;
    }

    .ui.menu {
        margin-top: 0% !important;
    }

    /* landing page */
    .logo-wrapper {
        margin-top: 5%;
        margin-right: 5%;
        margin-left: 5%;
        background-color: #ffffff;
        opacity: 0.6;
    }
    
    #landing-banner {
        width: 95% !important;
        height: 100% !important;
        margin-top: 2%;
        margin-left: 2%;
        margin-right: 2%;
        opacity: 0.9;
    }

    #latest-news-header {
        margin-top: 5%;
        margin-left: 32%;
        margin-right: 20%;
        width: 100%;
    }

    #latest-news-photo {
        margin-top: 5%;
        margin-left: 4%;
        width: 90%;
    }
    
    #latest-news-text {
        padding: 10px;
        margin-top: 3%;
        margin-right: 3% !important;
        margin-bottom: 5%;
        margin-left: 3% !important;
        color: white;
        background-color: black;
        opacity: 0.6;
        font-size: 20px;
    }

    #instagram-header {
        margin-left: 35%;
        margin-right: 20%;
        width: 100%;
        font-weight: bold;
    }

    #instagram-feed {
        width: 75%;
        height: 500px;
        padding-left: 15%;
        padding-right: 8%;
        margin-right: 10%;
        margin-bottom: 10%;
        margin-left: 10%;
        background-color: white;
        overflow: scroll;
    }

    #instagram-photo {
        margin-top: 5%;
        margin-right: 5%;
        margin-bottom: 5%;
    }

    #heart-icon {
        color: red;
    }

    .instagram-username {
        font-weight: bold;
    }

    .instagram-photo-stats {
        margin-bottom: 10%;
    }

    #twitter-header {
        margin-left: 35%;
        margin-right: 10%;
        width: 100%;
        font-weight: bold;
    }

    #twitter-feed {
        padding-left: 5%;
        padding-right: 5%;
        margin-top: 2%;
        margin-bottom: 10%;
        margin-left: 10%;
        height: 500px;
        width: 80%;
        overflow: scroll;
        font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
        background-color: rgb(255, 255, 255);
    }

    .landing-side-panel-dividers {
        width: 70%;
        margin-left: 13%;
    }

    /* music component */
    #header {
        margin-top: 2%;
    }

    .music-headers { 
        width: 75%;
    }

    #singles-grid {
        width: 95% !important;
        margin-left: 15%;
        margin-bottom: 10%;
    }

    #album-image {
        width: 90% !important;
        margin-left: 5%;
        margin-bottom: 5%;
    }

    #album-content {
        width: 75% !important;
        margin-left: 13%;
        margin-bottom: 20%;
        background-color: black;
        opacity: 0.7;
    }

    #track {
        margin-bottom: 20%;
    }

    #track-title {
        color: rgb(255, 255, 255);
        margin-bottom: 5%;
    }

    #media-icons {
        width: 100%;
    }

    #single-icon {
        margin-right: 10%;
    }


    /* Footer */
    .footer-icon {
        margin-top: 2%;
        margin-right: 5%;
        margin-bottom: 2%;
        margin-left: 20%;
    }
}

.footer {
    background-color: black;
}
